<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse ">
    <ul class="nav navbar-nav row ">
        <a  routerLink="/newNetwork" >
            <span class="glyphicon glyphicon-plus"></span> New 
        </a>
        <a href="#">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </a>
        <a href="#">
            <span class="glyphicon glyphicon-folder-open"></span>
        </a>
    </ul>
</nav> 
<router-outlet></router-outlet>
