<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <h3>Create Network</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Organization Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Domain</label>
                  <input type="text" formControlName="domain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.domain.errors }" />
                  <div *ngIf="submitted && f.domain.errors" class="invalid-feedback">
                      <div *ngIf="f.domain.errors.required">Organization Id is required</div>
                  </div>
                 
              </div>
              <div class="form-group">
                <label>Directory</label>
                <input type="text" formControlName="directory" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.directory.errors }" />
                <div *ngIf="submitted && f.directory.errors" class="invalid-feedback">
                    <div *ngIf="f.directory.errors.required">Directory is required</div>
                </div>
                <input type="file" id="FileUpload"  (change)="selectFolder($event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
              </div>
              <div class="form-group">
                  <button class="btn btn-primary">Create</button>
              </div>
          </form>
      </div>
  </div>
</div>