
          <div class="container">
            <mat-card>
              <mat-card-title>
                <h3>Add Peer</h3>
              </mat-card-title>  
              <div  *ngIf ="registerForm!= null ">
              <form [formGroup]="registerForm" [style.fontSize.px]=17 >
                  <div class="field" >
                    <mat-form-field  class="example-full-width">
                      <mat-label>Identifier</mat-label>
                      <input matInput type="text" formControlName="id"  />
                      <mat-error *ngIf="f.id.invalid">{{getIdErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="field">
                      <mat-form-field>
                        <mat-label>Organization</mat-label>
                        <mat-select required formControlName="orgId">
                          <mat-option >--None--</mat-option>
                          <mat-option *ngFor="let org of orgs" value="{{org.orgId}}">{{org.orgId}}</mat-option>
                          
                        </mat-select>
                        <mat-error *ngIf="f.orgId.invalid">{{getOrgIdErrorMessage()}}</mat-error>
                        
                      </mat-form-field>
                  </div>
                  <div class="field">                      
                          <mat-checkbox formControlName="anchor">Anchor</mat-checkbox>
                  </div>

                  <div class="field">
                      <mat-form-field  class="example-full-width">
                          <mat-label>External Port</mat-label>
                          <input matInput type="number" max="65535" formControlName="extPort"  />
                          <mat-error *ngIf="f.extPort.invalid">{{getExtPortErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field">
                        <mat-form-field  class="example-full-width">
                            <mat-label>Internal Port</mat-label>
                            <input matInput type="number"  max="65535" formControlName="intPort"  />
                            <mat-error *ngIf="f.intPort.invalid">{{getIntPortErrorMessage()}}</mat-error>
                          </mat-form-field>
                      </div>
                      <div class="form-group">
                          <button *ngIf="orgId==null" class="btn btn-primary" (click) = "onSubmit()" [disabled]="registerForm.invalid||registerForm.pending">Register</button>
                          <button *ngIf="orgId!=null" class="btn btn-primary" (click)= "onUpdate()" [disabled]="registerForm.invalid||registerForm.pending||!registerForm.dirty  ">Update</button>
                          <button *ngIf="orgId!=null" class="btn btn-danger" (click) = "onDelete()" >Delete</button>
                      </div>
              </form>
              </div> 
            </mat-card>
          </div>
