
          <div class="container">
            <mat-card>
              <mat-card-title>
                <h3>Add Chaincode</h3>
              </mat-card-title>  
              <div  *ngIf ="registerForm!= null ">
              <form [formGroup]="registerForm" [style.fontSize.px]=17 >
                  <div class="field" >
                    <mat-form-field  class="example-full-width">
                      <mat-label>Name</mat-label>
                      <input matInput type="text" formControlName="ChaincodeName"  />
                      <mat-error *ngIf="f.ChaincodeName.invalid">{{getNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="field" >
                    <mat-form-field  class="example-full-width">
                      <mat-label>Asset </mat-label>
                      <input matInput type="text" formControlName="AssetName"  />
                      <mat-error *ngIf="f.AssetName.invalid">{{getAssetNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </form>
                <form [formGroup]="functionsForm" [style.fontSize.px]=17>
                  <div class="field"  *ngFor="let keyq of funcprueba.keys() ;let i = index">
                    <mat-form-field >
                      <mat-label>Function Name</mat-label>
                      <input matInput type="text" formControlName="{{funcprueba.get(keyq).functionName}}"  />
                      <mat-error *ngIf="fF[funcprueba.get(keyq).functionName].invalid">{{getFuncNameErrorMessage()}}</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field >
                      <mat-label>Function Args</mat-label>
                      <mat-select required formControlName="{{funcprueba.get(keyq).args}}">
                        <mat-option >--None--</mat-option>
                        <mat-option >True</mat-option>
                        <mat-option >False</mat-option>
                      </mat-select>
                      <mat-error *ngIf="fF[funcprueba.get(keyq).functionName].invalid">{{getFuncArgErrorMessage()}}</mat-error>
                    </mat-form-field>
                   
                    </div>  
                </form>
                <form [formGroup]="atributesForm" [style.fontSize.px]=17> 
                    <div class="field"  *ngFor="let controlName of atributes ;let i = index">
                      <mat-form-field >
                        <mat-label>Atribute Name</mat-label>
                        <input matInput type="text" formControlName="{{controlName}}"  />
                        <mat-error *ngIf="fA[controlName].invalid">{{getAtrNameErrorMessage()}}</mat-error>
                      </mat-form-field>
                      
                      <mat-form-field >
                        <mat-label>Atribute Type</mat-label>
                        <mat-select required formControlName="{{controlName}}">
                          <mat-option >--None--</mat-option>
                          <mat-option >Int</mat-option>
                          <mat-option >String</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fA[controlName].invalid">{{getAtrTypeErrorMessage()}}</mat-error>
                      </mat-form-field>
                    
                      </div>  

                    <button  class="btn btn-primary" (click) = "addFunction()" >AddFunction</button>
                    <button  class="btn btn-primary" (click) = "addAtributes()" >addAtributes</button>
                    <div class="form-group">
                        <!-- <button *ngIf="orgId==null" class="btn btn-primary" (click) = "onSubmit()" [disabled]="registerForm.invalid||registerForm.pending">Register</button>
                        <button *ngIf="orgId!=null" class="btn btn-primary" (click)= "onUpdate()" [disabled]="registerForm.invalid||registerForm.pending||!registerForm.dirty  ">Update</button>
                        <button *ngIf="orgId!=null" class="btn btn-danger" (click) = "onDelete()" >Delete</button> -->
                    </div>
              </form>
              </div> 
            </mat-card>
          </div>
