<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar  >Menu</mat-toolbar>
    <mat-nav-list>
        <mat-accordion >
        <!-- <mat-accordion *ngIf="isInstanciated"> -->
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Orderers
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul *ngIf= "orderers.length >0">
                <!-- <li *ngFor="let orderer of orderers"> {{ orderer.ordererId }} </li> -->
                <a *ngFor="let orderer of orderers" [routerLink]= "['/orderers',  orderer.ordererId]" >  {{ orderer.ordererId }} </a>
              </ul>
              <a  routerLink="/addOrderer" >
                Add Orderer 
               </a>
            </mat-expansion-panel>
         
        </mat-accordion>  
        <mat-accordion >
          <!-- <mat-accordion *ngIf="isInstanciated"> -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Organizations
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul *ngIf= "orgs.length >0">
            <div *ngFor="let org of orgs">
            <mat-icon aria-label="Side nav toggle icon">domain</mat-icon> 
            <a  [routerLink]= "['/org',  org.orgId]" >  {{ org.orgId }} </a>
          </div>
          </ul>
          <a  routerLink="/addOrg" >
            Add Organization
           </a>
        </mat-expansion-panel>
      </mat-accordion> 
      
      <mat-accordion >
          <!-- <mat-accordion *ngIf="isInstanciated"> -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Peers
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul *ngIf= "peersByOrg!=null">
            <div *ngFor="let org of peersByOrg">
            <li  [routerLink]= "['/org',  org.orgId]" >  {{ org.orgId }} </li>
            <ul>
                <div *ngFor="let peer of org.peers">
                <a  [routerLink]= "['orgs/'+org.orgId+'/peers',  peer.peerId]" >  {{ peer.peerId }} </a>
                </div>                 
            </ul>
          </div>
          </ul>
          <a  routerLink="/addPeer" >
            Add Peer
           </a>
        </mat-expansion-panel>
      </mat-accordion> 
      <mat-accordion >
        <!-- <mat-accordion *ngIf="isInstanciated"> -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Channels
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul *ngIf= "channels.length >0">
          <div *ngFor="let channelName of channels">
          <a  [routerLink]= "['/channel',  channelName]" >  {{ channelName }} </a>
        </div>
        </ul>
        <a  routerLink="/addChannel" >
          Add Channel
         </a>
      </mat-expansion-panel>
    </mat-accordion>    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
      <a  routerLink="/newNetwork" >
        <span class="glyphicon glyphicon-plus"></span> New 
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-floppy-disk"></span>
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-folder-open"></span>
      </a>
      <a  routerLink="/addOrg" >
        <span class="glyphicon glyphicon-plus"></span> Org 
      </a>
      <a  routerLink="/addPeer" >
        <span class="glyphicon glyphicon-plus"></span> Peer 
      </a>
     
      <a  routerLink="/addChanne" >
        <span class="glyphicon glyphicon-plus"></span> Channel 
    </a>
    <a  routerLink="/chaincodes" >
      <span class="glyphicon glyphicon-plus"></span> Chaincode 
  </a>
      <button
      type="button"
      [disabled]="buildVar"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="build()">
      <mat-icon aria-label="Side nav toggle icon">Build</mat-icon>
    </button>
      

    </mat-toolbar>
    <ng-content></ng-content>

    <!-- <div *ngIf="isInstanciated  ; then thenBlock else elseBlock"></div>
    <ng-template  #thenBlock><ng-content></ng-content></ng-template>
    
     <ng-template #elseBlock> <app-not-network ></app-not-network></ng-template> -->
  </mat-sidenav-content>
</mat-sidenav-container>
