<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar  >Menu</mat-toolbar>
    <mat-nav-list>
        <mat-accordion>
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Orderers
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul>
                  <li>Coffe</li>
                  <li>Tea</li>
                  <li>Milk</li>
              </ul>
              <a  routerLink="/addOrderer" >
                Add Orderer 
               </a>
            </mat-expansion-panel>
          </mat-accordion>  
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
      <a  routerLink="/newNetwork" >
        <span class="glyphicon glyphicon-plus"></span> New 
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-floppy-disk"></span>
      </a>
      <a href="#">
          <span class="glyphicon glyphicon-folder-open"></span>
      </a>
      <a  routerLink="/addOrg" >
          Add Org 
      </a>
      <a  routerLink="/addPeer" >
          Add Peer 
      </a>
     
      <a  routerLink="/addChannel" >
          Add addChannel 
    </a>
           

    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
